<div class="project-page">

    <!-- FORM -->
    <div class="project-card">
        <h3>Create Project</h3>

        <div class="form-grid">

            <div class="form-row">

                <div class="form-group">
                    <label>Project Title</label>
                    <input type="text" [(ngModel)]="newProject.projTitle" />
                </div>

                <div class="form-group">
                    <label>Status</label>
                    <select [(ngModel)]="newProject.status">
                        <option [ngValue]="null" disabled>Select Status</option>
                        @for (item of statusOptions; track item.value) {
                        <option [ngValue]="item.value">{{ item.label }}</option>
                        }
                    </select>
                </div>

                <div class="form-group">
                    <label>Start Date</label>
                    <input type="date" [(ngModel)]="newProject.startDate" />
                </div>

                <div class="form-group">
                    <label>End Date</label>
                    <input type="date" [(ngModel)]="newProject.endDate" />
                </div>

            </div>

            <div class="form-group full">
                <label>Description</label>
                <textarea [(ngModel)]="newProject.description"></textarea>
            </div>

        </div>

        <button class="btn-primary" (click)="onSave()"> {{ isEditMode ? 'Update' : 'Save' }}</button>
        <button class="btn-primary" (click)="resetForm()">Reset</button>
    </div>

    <!-- TABLE -->
    <div class="project-card">
        <h3>Project List</h3>

        <table class="project-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Created By</th>
                    <TH>Description</TH>
                    <th>Status</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                <!-- use signal projectList() if the variable value changes after loading -->
                @for (item of projectList(); track $index) {
                <tr>
                    <td>{{$index + 1}}</td>
                    <td>{{item.projTitle}}</td>
                    <td>{{item.userName}}</td>
                    <td>{{item.description}}</td>
                    <td>
                        <span class="status-badge" [ngClass]="item.status">
                            {{statusOptions.find(o => o.value === item.status)?.label || 'Unknown'}}
                        </span>
                    </td>
                    <td>{{item.startDate | date}}</td>
                    <td>{{item.endDate | date}}</td>
                    <td>
                        <button class="btn-edit" (click)="onEdit(item)">Edit</button>
                        <button class="btn-danger" (click)="onDelete(item)">Delete</button>
                    </td>
                </tr>}
            </tbody>
        </table>
    </div>

</div>